*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: cornflowerblue;
    --secondary: #e0e0e0;
    --border: white;
    --button:#e0e0e0;
    --box-shadow: slategrey;
}

body{
    color: white;
    background-color: var(--button);
    font-family: sans-serif;
    min-height: 100vh;
    /* overflow: auto; */
}

/* ------------------header------------------ */
header{ 
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 5px;
}
.heading{
    display: flex;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px var(--box-shadow);
    border-radius: 5px;
    padding: 5px;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
}
.links .link {
    background-color: var(--button);
}

.link a {
    display: inherit;
    color: var(--primary);
    padding: 10px;
    transition: box-shadow 0.2s linear;
    box-shadow:2px 2px 5px var(--box-shadow);
}

.link a:hover{
    box-shadow: 0px 0px 15px  var(--button);
}


/* -------------------landing------------------- */
.landing{
    background-color: var(--button);
    max-width: 100vw;
    min-width: 20vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form{
    background-color: var(--primary);
    /* height: 70vh; */
    width: 90vw;
    /* max-height: 70vh; */
    max-width: 61vw;
    padding: 10px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 2px 2px 5px var(--primary);
}
#login-form .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 20px;
    width:100%;
}

.inputs .input{
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 20px;
    color: var(--primary);
    width: 90%;
    max-width: 70%;
    box-shadow: 2px 2px 5px var(--box-shadow);
}
.inputs .input::placeholder{
    color: var(--primary);
}
.buttons .button{
    width: 200px;
    height: 28px;
    border: none;
    outline: none;
    background-color: var(--button);
    color: var(--primary);
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px var(--box-shadow);
    transition: box-shadow 0.2s linear;
}
.buttons .button:hover{
    box-shadow: 0px 0px 15px  var(--button);
}
#login-form h1{
    background-color: white;
    color: var(--primary);
    width: 95%;
    text-align: center;
    box-shadow: 2px 2px 2px var(--box-shadow);
}
/* -----------------------------------------Animation For Cogs---------------------------------- */
.cogs{
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 30px;
}

.cogs .cog{
    font-size: 50px;
    color: white;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    margin-left: -7px;
    text-shadow: 2px 2px var(--box-shadow);
}

.cogs .cog:nth-child(1){
    /* transform: rotate(90deg); */
    animation: rotate 5s infinite linear ;
}

.cogs .cog:nth-child(2){
    /* transform: rotate(90deg); */
    animation: rotate 5s 0.4s infinite reverse linear;
}

.cogs .cog:nth-child(3){
 
    animation: rotate 5s infinite linear;
}

@keyframes rotate{
    from {transform: rotate(0deg);
        }
    to   {transform: rotate(359deg);
        }
}
/* --------------------------footer-------------- */

footer{  
    position: absolute;
    bottom: 0;
    background-color: var(--primary);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------MEDIA QUERRIES----------------------- */
@media screen and (max-width: 375px) {
    #login-form{
        max-width: none;
    }
    footer{
        height: 36px;
    }
 }

 @media screen and (max-width: 375px) {
    footer{
        font-size: 15px;
    }
 }