*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary: #04AA6D;
    --secondary: #e0e0e0;
    --border: white;
    --button:#e0e0e0;
}

body{
    color: white;
    background-color: var(--button);
    font-family: sans-serif;
    height: 100vh;
    overflow: auto;
}

/* ------------------header------------------ */
header{ 
    background-color: var(--primary);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 5px;
}
.heading{
    display: flex;
    /* width: 50%; */
    justify-content: center;
    align-items: center;
    text-align: center;
}
.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
}
.links .link {
    background-color: var(--button);
}

.link a {
    display: inherit;
    color: var(--primary);
    padding: 10px;
    transition: box-shadow 0.2s linear;
}

.link a:hover{
    box-shadow: 0px 0px 15px  var(--button);
}


/* -------------------landing------------------- */
.landing{
    background-color: var(--button);
    max-width: 100vw;
    min-width: 20vw;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form{
    background-color: var(--primary);
    height: 70vh;
    width: 90vw;
    max-height: 70vh;
    max-width: 61vw;
    padding: 10px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: 2px 2px 5px var(--primary);
}
#login-form .inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    gap: 20px;
    width:100%;
}

.inputs .input{
    height: 30px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 20px;
    color: var(--primary);
    width: 100px;
    min-width: 60%;
}
.inputs .input::placeholder{
    color: var(--primary);
}
.buttons .button{
    width: 200px;
    height: 28px;
    border: none;
    outline: none;
    background-color: var(--button);
    color: var(--primary);
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
    transition: box-shadow 0.2s linear;
}
.buttons .button:hover{
    box-shadow: 0px 0px 15px  var(--button);
}
#login-form h1{
    background-color: var(--button);
    color: var(--primary);
    width: 100%;
    text-align: center;
    /* box-shadow:0px 0px 2px 2px var(--secondary) ; */
}
/* -----------------------------------------Animation For Cogs---------------------------------- */
.cogs{
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-top: 30px;
}

.cogs .cog{
    font-size: 50px;
    color: var(--button);
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* gap: 5px; */
    margin-left: -7px;
}

.cogs .cog:nth-child(1){
    /* transform: rotate(90deg); */
    animation: rotate 5s infinite linear ;
}

.cogs .cog:nth-child(2){
    /* transform: rotate(90deg); */
    animation: rotate 5s 0.4s infinite reverse linear;
}

.cogs .cog:nth-child(3){
 
    animation: rotate 5s infinite linear;
}

@keyframes rotate{
    from {transform: rotate(0deg);
        }
    to   {transform: rotate(359deg);
        }
}
/* --------------------------footer-------------- */

footer{  
    background-color: var(--primary);
    width: 100%;
    height: 15vh;
}
