*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    min-height: 100vh;
    /* background-color: silver; */
}
/* global styles */
img{
    width: 100px;
    height: 100px;
}
/* header section */
#header{
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
.navbar{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;
}
/* main section */
#main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
}
/* -----------------------Mid Section */
#mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#mid .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* ----------------------------Posts Section */
#post{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    
}
.heading{
    display: flex;
}
.heading img{
    height: 40px;
    width: 40px;
}
#search-users{
    display: flex;
}
#users-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/* footer section */


/* Modal Section */
#modal-container{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
}
#modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    width: 600px;
    max-width: 100%;
}

.modal h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.close{
    position: fixed;
    right: 80px;
    top: 80px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 50px;
}

#create-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


