*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: cornflowerblue;
    --secondary:#e0e0e0;
}

body{
    font-family: sans-serif;
    min-height: 100%;
    background-color: var(--secondary);
    color: white;
}
/* global styles */
img{
    width: 100px;
    height: 100px;
}
/* header section */
.navbar{ 
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 5px;
    width: 100%;
}

.navbar .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-input{
    background-color: var(--secondary);
    color:var(--primary);
    border:none;
    outline: none;
    border-radius: 20px;
    padding: 5px 10px;
    
}

.button-submit, .button-reset{
    background-color: var(--secondary);
    padding: 5px 10px;
    border-radius: 20px;
    outline: none;
    border:none;
    color: var(--primary);
    cursor: pointer;
}

/* main section */
#main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
}
/* --------------------Left Section--------------------------- */
#left{
    /* background-color: var(--primary); */
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:5px;
    border-bottom: 5px solid var(--secondary);
    background-color: var(--primary);
    padding: 5px 5px;
}
/* -----------------------Mid Section */
#mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--primary);
    padding: 5px;
}

#mid .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* ----------------------------Posts Section */
#post{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 5px;
    border:solid 2px rgb(125, 163, 233);
    box-shadow: 2px 2px slategray;
    
}
.heading{
    display: flex;
}
.heading img{
    height: 40px;
    width: 40px;
}
#search-users{
    display: flex;
}
#users-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/* footer section */


/* Modal Section */
#modal-container{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
}
#modal-container.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    width: 600px;
    max-width: 100%;
}

.modal h1{
    color: whitesmoke;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.close{
    position: fixed;
    right: 80px;
    top: 80px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 50px;
}

#create-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


