*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary: cornflowerblue;
    --secondary:white;
    --container:white;
    --box-shadow:slategrey;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: var(--container);
}
  
  ::-webkit-scrollbar-thumb {
    background-color:var(--primary);/*Gives background color to the scrollbar*/
    border-radius: 2px;
    outline: var(--secondary) 2px solid;
}

body{
    font-family: sans-serif;
    min-height: 100%;
    background-color: var(--secondary);
    color: white;
}
/* global styles */
h1 , h2, h3, p{
    pointer-events: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    padding: 5px 5px;
    background-color: var(--secondary);
    border: 1px solid var(--box-shadow);
    outline: none;
    color: var(--primary);
    box-shadow: 2px 2px var(--box-shadow);
    transition: all 0.3s linear;
    cursor: pointer;
}

h3{
    text-shadow: 2px 2px var(--box-shadow);
}

.navbar, #profile, #right, #mid{
    
    box-shadow: 2px 2px var(--box-shadow);
}
footer{
    
    box-shadow: 0px -2px var(--box-shadow);
}
/* header section */
.navbar{ 
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 5px;
    width: 100%;
}

.navbar .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px var(--box-shadow);

    margin: 2px 0px;
}

.navbar .button{
    transition: all 0.5s linear;
}

.navbar .button:hover{
    box-shadow: 2px 2px 15px var(--secondary);
}

.search-input{
    background-color: var(--secondary);
    color:var(--primary);
    border: solid 1px var(--box-shadow);
    box-shadow: 2px 2px var(--box-shadow);
    outline: none;
    border-radius: 20px;
    padding: 5px 10px;
    
}

.button-submit, .button-reset{
    background-color: var(--secondary);
    
    outline: none;
    color: var(--primary);
    cursor: pointer;
    border: solid 1px var(--box-shadow);
}
#post-search-error, #user-search-error{
    color: var(--box-shadow);
}
/* main section */
#main{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 15px;
    max-height: 83vh;
    position: relative;
}
/* --------------------Left Section--------------------------- */
#left{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 20%;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:5px;
    box-shadow: 2px 2px var(--box-shadow);
    background-color: var(--primary);
   width: 100%;
}

#profile .title{
    padding: 2px;
}

/* -----------------------Mid Section */
#mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--container);
    padding: 0px 5px;
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    margin-bottom: 40px;
}

#search-posts, #search-users{
    position: sticky;
    /* z-index: 2; */
    background-color: white;
    display: flex;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 5px 0px;
    gap: 5px;
}

#mid .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 5px;
    position: sticky;
    top: 0;
    left: 0;
}


 button:hover{
    box-shadow: 0px 0px 10px var(--primary);
}
/* ----------------------------Posts Section -----------------------*/
.posts{
    width: 100%;
}
#post{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 5px;
    border:solid 2px rgb(125, 163, 233);
    box-shadow: 2px 2px slategray;
    background-color: var(--primary);
    margin-bottom: 5px;
}

.heading{
    display: flex;
    gap : 10px;
    margin-bottom: 8px;
    flex-wrap: wrap;
}

.heading img{
    height: 50px;
    width: 50px;
}
.user-details .sub-title{
    font-size: 12px;
}

.content .title {
    text-align: center;
}
/* ---------------------------------right section----------------------- */
#right{
    background-color: var(--container);
    padding: 0px 5px;
    overflow: auto;
    margin-bottom: 40px;
    width: 20%;
}

#search-users{
    display: flex;
    margin-bottom: 10px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding: 5px;
    width: 100%;
}

#search-users .search-input{
    width: 100%;
}

#users-container{
    display: flex;
    flex-direction: column;
    gap: 10px; 
}
#users-container .user{
    background-color: var(--primary);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 2px 2px var(--box-shadow);
    text-align: center;
}

.user .buttons {
    margin-bottom: 5px;
}

.user .button:hover{
    box-shadow: 2px 2px 15px var(--secondary);
}
/* footer section */

/* ---------------------------------------------MODALS-------------------- */

/* Create Post Modal Section */
#modal-container{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
}
/* displays modal to screen */
#modal-container.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 2;
}

.modal{
    width: 80%;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px var(--box-shadow);
}

.modal h1{
    color: var(--primary);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background-color: var(--primary);
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--box-shadow);
}

.close{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 15px;
    color: var(--primary);
    cursor: pointer;
    font-size: 50px;
}

/* --------------------------modal user */
#modal-user-container{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
}
#modal-user-container.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 2;
}

.modal-user{
    max-width: 100%;
    background-color: var(--primary);
    padding: 20px;
    box-shadow: 2px 2px var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.modal-user img{
    width: 200px;
    height: 200px;
}

.modal-user h3{
    font-size: 16px;
    width: 100%;
    line-break: anywhere;
}
   

.close-user{
    position: fixed;
    right: 0;
    top: 0;
    margin-right: 15px;
    color: var(--primary);
    cursor: pointer;
    font-size: 50px;
}
/* ---------------------------------END OF MODAL USER */

/* Modal Edit Post */
#modal-edit-post-container{
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
    color: var(--primary);
}

#modal-edit-post-container.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 2;
}

#edit-form {
    width: 80%;
    height: 80%;
    max-width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#edit-form .heading{
    width: 100%;
    background-color: var(--primary);
    color: white;
    padding: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px var(--box-shadow);
    justify-content: center;
}

#edit-form .inputs {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    gap: 5px;
    border-radius: 20px;
    
}

.inputs .title, .inputs .content{
    border: 1px solid var(--box-shadow);
    outline: none;
    padding: 5px 20px;
    color: var(--primary);
    box-shadow: 2px 2px var(--box-shadow);

}

.inputs .title{
height: 10%;

}
.inputs .content{
    height: 80%;
 }

 .post-buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
    height: 25px;
}

.post-buttons .button{
    width: 100px;  
    transition: all 0.4s linear;  
}

.post-buttons .button:hover {
    box-shadow: 2px 2px 15px var(--secondary);
}

/* End of Modal Edit Post */
#create-post{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#post-content{
    color: var(--primary);
    border: 2px solid var(--primary);
    outline: none;
    padding: 10px;
    box-shadow: -1px -1px var(--primary);
    height: 290px;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* ---------------------Media Queries */
@media screen and (max-width: 850px) {
    #left #profile{
        display: none;
    }
  }

  @media screen and (max-width: 710px) {
    #right{
        display: none;
        position: absolute;
    }
  }

  @media screen and (max-width: 500px) {
   #mid .buttons{
       top: 33px;
       background-color: white;
   }
   #search-posts{
       flex-wrap: wrap;
   }
   #search-posts .search-input{
    width: 60%;
}

   .navbar{
       justify-content: center;
   }
   .post-buttons {
    width: 100%;
    }
   .post-buttons .button{
    width: 50%;    
    }
    
  }